我的第一个数据科学项目--《足球运动员身价估计》  
任务类型：回归  
背景介绍：每个足球运动员在转会市场都有自己的价码。本次数据练习的目的是根据球员的各项信息和能力值来预测球员在转会市场上的价值。  
数据来源：FIFA2018  
数据集：  
  - tran.csv 训练集
  - test.csv 预测集
  - sample_submit.csv 提交示例  
  训练集有10441条样本，预测集有7000条样本。每条样本代表一位球员，数据中每个球员有63个属性。  

评价方法：  
  评价标准为MAE（Mean Absolute Error）。若真实值为$y=(y_1,y_2,...,y_n)$，模型的预测值为$\hat y=(\hat y_1,\hat y_2,...,\hat y_n)$，那么该模型的MAE计算公式为：$$MAE=\frac {\sum_{i=1}^n|y_i-\hat y_i|}{n}$$  
MAE越小，说明模型预测越准确。  
变量说明：

| 变量名 | 解释 |
| --|--|

# 一、探索数据

In [1]:
import pandas as pd

In [5]:
train_data = pd.read_csv('/Users/zhangfeng/Documents/ML/sofasofa/play_value/data/train.csv')

## 1、预览数据

### 1.1 数据缺失值情况
容易看出来，数据集存在的缺失值是由于门将位置的球员不具备的特征造成的，可以忽略。

In [6]:
train_data.head()

,id,club,league,birth_date,height_cm,weight_kg,nationality,potential,pac,sho,...,st,lw,cf,cam,cm,cdm,cb,lb,gk,y
0,0,293,25,10/4/96,177,72,78,73,65,60,...,63.0,64.0,64.0,64.0,63.0,57.0,53.0,56.0,NaN,70.0
1,1,258,24,9/21/84,178,70,51,62,56,39,...,52.0,60.0,57.0,59.0,61.0,64.0,61.0,64.0,NaN,24.0
2,2,112,3,6/8/99,177,69,52,68,68,57,...,56.0,54.0,55.0,53.0,45.0,34.0,31.0,36.0,NaN,17.0
3,3,604,9,7/25/88,181,81,54,81,76,74,...,77.0,76.0,77.0,77.0,79.0,78.0,77.0,78.0,NaN,1750.0
4,4,80,37,8/4/80,179,75,96,72,40,62,...,62.0,66.0,65.0,68.0,71.0,70.0,66.0,64.0,NaN,97.5

In [9]:
#数据集缺失值情况
##数据集非空值
train_data.count()
##数据集空值情况
train_data.isnull().sum(); ##空值为门将位置所不具备的球员能力值

In [10]:
import os

print(os.getcwd()) # 打印当前工作目录

/Users/zhangfeng